*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    width: 100%;
    height: 300px;
    background-image: url(./pngtree-digital-anatomy-website-amazing-combination-photo-picture-image_8380065.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-size: 1350px;
    background-position: 100%;
    background-repeat: no-repeat;
}
ul{
    list-style-type: none;
    overflow:hidden;
    position: relative;
    top: 240px;
    border-radius: 30px;
    box-shadow: 10px 10px 45px 2px rgb(0, 0, 0);
    background-color: rgb(216, 236, 253);
    
}
li{
    float: left;
}
li a{
    display: block;
    color: rgb(226, 10, 226);
    position: relative;
    left: 45px;
    padding: 10px;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;  
}
.grande{
    width: 66%;
    height: 320px;
    border-radius:20px;
    margin-top: 2%;
    display: block;
    box-shadow: 10px 10px 45px 2px rgb(0, 0, 0);
}
.esq{
    width: 32%;
    height: 320px;
    border-radius:20px;
    box-shadow: 10px 10px 45px 2px rgb(0, 0, 0);
    margin-top: 2%;
    display: block;
    float: left;
}
.dir{
    width: 32%;
    height: 320px;
    border-radius:20px;
    box-shadow: 10px 10px 45px 2px rgb(0, 0, 0);
    margin-top: 2%;
    margin-left: 2%;
    display: block;
    float: left;
}
aside{
    display: block;
    float: left;
    border-radius:20px;
    width: 32%;
    height: 665px;
    box-shadow: 10px 10px 45px 2px rgb(0, 0, 0);
    margin-top: 2%;
    margin-left: 2%;
    position: relative;
    top: -345px;
}
footer{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    position: relative;
    top: 348px;
}
h1{
    position: relative;
    top: 2px;
    left: 80px;
    color: white;
}
.dissecacao{
    width: 186px;
    position: relative;
    top: 2px;
    left: 3px;
    float: left;
}
p{
    position: relative;
    left: 7px;
    top: 20px;
    color: white;
}
img{
    position: relative;
    bottom: 50px;
}

.macros{
    position: relative;
    top: 10px;
    left: 15px;
    width: 403px;
    text-align: justify;
}
.tecido{
    position: relative;
    top: 2px;
    left: 2px;
    width: 168px
}
body{
    background-color: rgba(201, 5, 201, 0.767);
}
.celula{
    position: relative;
    top: -30px;
    left: 5px;
    width: 218px;
}
.nervo{
    position: relative;
    top: 18px;
    left: 50px;
    width: 292px;
}
.sistema{
    position: relative;
    top: 10px;
    left: 50px;
    margin-bottom: 5px
}
.psis{
    width: 400px;
    position: relative;
    text-align: justify;
    left: 10px;
    margin-bottom: 15px;
    text-align: justify;
}
.h1{
    position: relative;
    left: 190px;
}